# ignore everything
/*

# gitignore for this repo
!.gitignore

# gitconfig
!.gitconfig

# bash configuration
!.bash_aliases
!.bashrc

# no welcome page
!.hushlogin

# vim (basic.vim from https://github.com/amix/vimrc/tree/master/vimrcs)
!.vimrc

# .github files
!.github

# .npmrc
!.npmrc
