[include]
    path = ~/.gitproxy
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	who = "! git config user.email; git config user.name"
[credential]
	helper = store
[user]
	name = Wayne Wang
[core]
    autocrlf = input
